################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RabbitMQ101
/Consumer/bin/Debug/net9.0
/Consumer/obj
/Producer/bin/Debug/net9.0
/Producer/obj
/.vs/ProjectEvaluation
